*{
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #25283D;
  font-family: 'Josefin Sans', sans-serif;
  float: left;
}
#clocktext{
  background: #25283D;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  
}
